.header {
    width: 100%;

    position: absolute;
    top: 31px;
    left: 0;
    
    svg {
        color: @white;
    }
}

.header__container {
    .container ();
    .flex-between ();
}

.header__logo {
    margin-right: 27px;
}

.header__text {
    .reset-indentation ();

    display: none;
}

.header__tel {
    .reset-text-decoration ();

    display: none;

    margin-right: 39px;
}

.header__nav {
    .reset-styles-ol ();
}

.header__nav-item:not(:last-child) {
    margin-right: 20px
}

.header__flex {
    .flex-between ();
}

.header__flex-wrapper {
    .flex-between ();
}

.header__nav-list {
    .flex-between ();
    flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
    .header__container {
        .container ();
    }

    .header {
        svg {
            color: @gray;
        }
    }

    .header__text {
        display: initial;

        font-family: @main-font;
        font-size: 12px;

        width: 205px;

        color: @gray;
    }

    .header__tel {
        display: initial;

        font-family: @main-font;
        font-size: 16px;

        margin-right: 74px;

        color: @gray;
    }
}

@media (min-width: @desktop-width) {
    .header__container {
        .container ();
    }
    
    .header__text {
        text-align: left;
    }
}