// стили для header page

.header {
    background-color: @white;

    svg {
        color: @black;
    }
}

// стили для header--index

.header--index {
    width: 100%;

    position: absolute;
    top: 31px;
    left: 0;

    background-color: @transparent;
}

.header__container--index {
    .container ();
    .flex-between ();

    column-gap: 10px;
}

.header__icon--index-nav-item {
    svg {
        color: @white;
    }
}

.header__tel {
    color: @white;
}

.header__tel--index {
    display: none;

    .reset-text-decoration ();

    margin-right: 39px;

    &:hover {
        color: @green;
    }
}

.header__container {
    .container ();
    .flex-between ();

    padding-top: 10px;
}


.header__text {
    .reset-indentation ();

    display: none;
}

.header__tel {
    .reset-text-decoration ();

    display: none;

    margin-right: 39px;

    &:hover {
        color: @green;
    }
}

.header__nav {
    .reset-styles-ol ();
}

.header__nav-link:hover svg {
    color: @green;
}

.header__flex {
    .flex-between ();
}

.header__flex-wrapper {
    .flex-between ();

    column-gap: 20px
}

.header__nav-list {
    .flex-between ();
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
}

@media (min-width: @tablet-width) {

    // стили для header--index

    .header__tel--index {
        display: initial;

        font-family: @main-font;
        font-size: 16px;

        margin-right: 55px;

        color: @gray;
    }

    // стили для header page

    .header__container {
        .container ();
    }

    .header__logo {
        width: 150px;
        height: 59px;
    }

    .header__text {
        display: initial;

        font-family: @main-font;
        font-size: 12px;

        width: 205px;

        color: @gray;
    }

    .header__tel {
        display: initial;

        font-family: @main-font;
        font-size: 16px;

        margin-right: 55px;

        color: @white;
    }
}

@media (min-width: @desktop-width) {
    .header__container {
        .container ();
    }
    
    .header__text {
        text-align: left;
    }
}