.popup-ask {
    display: none;
    
    .popup ();

    background-color: @transparent-black;
}

.popup-ask-open {
    display: block;
}

.popup-ask__container {
    width: 360px;
    
    margin: 0 auto;

    padding: 28px 14px 0;
    background-color: @white;
    position: relative;
}

.popup-ask__icon-btn {
    position: absolute;
    top: 35px;
    right: 15px;

    padding: 0;
    
    background-color: @transparent;
    
    .btn ();
    
}

.popup-close {
    display: none;  
}

.popup-ask__title {
    font-family: @main-font;
    font-weight: 500;
    font-size: 25px;

    color: @black;

    margin: 0;
    margin-bottom: 24px;
}

.popup-ask__input {
    .style-input-text ();

    margin-top: 16px;

    width: 332px;
    height: 51px;
}

.popup-ask__input-message {
    .textarea ();

    padding-left: 20px;
    padding-top: 14px;
    margin-top: 16px;

    width: 332px;
    height: 133px;

    border: 1px solid @transparent-black;

    border-radius: 5px;
}

.popup-ask__text-error {
    .text-error ();
}

.popup-ask__send-btn {
    .btn ();

    margin-top: 39px;

    background-color: @green;
    color: @white;

    width: 330px;
    height: 56px;

    font-family: @main-font;
    font-weight: 500;
    font-size: 15px;

    &:hover {
        background-color: @green-darker;
    }
}

.popup-ask__checkbox {
    margin-left: 19px;
}

.popup-ask__checkbox-lable {
    margin-bottom: 37px;
    margin-top: 19px;

    z-index: 1001;
}

.popup-ask__specialist-card-wrapper {
    position: relative;
}

.popup-ask__human {
    position: relative;
    bottom: -7px;

}

@media (min-width: @tablet-width) {
    .popup-ask__container {
        width: 960px;
        height: 713px;

        padding: 86px 35px 108px;
    }
    
    .popup-ask__wrapper {
        display: flex;
        column-gap: 76px
    }

    .popup-ask__icon-btn {
        top: 35px;
        right: 30px;
    }

    .popup-ask__title {
        width: 338px;

        font-size: 36px;
        line-height: 50px;
    }

    .popup-ask__checkbox {
        padding-top: 0;
        padding-left: 22px;
        margin-top: 16px;
    }

    .popup-ask__checkbox-lable {
        span {
            border-bottom: 1px solid @gray-darker;
        }
    }

    .popup-ask__input {
        width: 380px;

        .style-input-text ();
    }

    .popup-ask__input-message {
        width: 380px;
    }

    .popup-ask__send-btn {
        width: 380px;
    }

    .popup-ask__human {
        width: 434px;
        height: 501px;
    }
}

@media (min-width: @desktop-width) {
    .popup-ask__container {
        width: 834px;
        height: 615px;

        padding: 52px 80px 62px;
    }
    
    .popup-ask__icon {
        color: @gray-darker;
    }

    .popup-ask__icon-btn {
        top: 0;
        right: -45px;
    }

    .popup-ask__wrapper {
        column-gap: 29px
    }

    .popup-ask__title {
        width: 281px;

        font-size: 30px;

        line-height: 38px;
    }

    .popup-ask__checkbox {
        margin-left: 20px;
        padding-left: 5px;
    }

    .popup-ask__input {
        width: 328px;
    }

    .popup-ask__input-message {
        width: 328px;
    }

    .popup-ask__send-btn {
        width: 328px;
    }

    .popup-ask__human {
        width: 327px;
        height: 501px;
    }

    .popup-ask__checkbox-lable {
        font-size: 11px;
    }
}

// Видео 
.popup-video {
    display: none;

    .popup ();

    background-color: @transparent-black;
}

.popup-video-open {
    display: block;
}

.popup-video__container {
    width: 360px;

    margin: 0 auto;

    position: relative;
}

.popup-video__video-img {
    width: 100%;
}

.popup-video__icon-btn {
    position: absolute;
    top: 35px;
    right: 15px;

    padding: 0;
    
    background-color: @transparent;

    .btn ();
}

.popup-video__play-button {
    .btn ();

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: @transparent;
    color: @white;
}

@media (min-width: @tablet-width) {
    .popup-video__container {
        width: 970px;
    }

    .popup-video__icon-btn {
        right: 50px;
    }

    .popup-video__video-img {
        height: 543px;
    }

    .popup-video__icon {
        color: @white;
    }

    .popup-video__play-button {
        top: 40%;
    }
}

@media (min-width: @desktop-width) {
    .popup-video__container {
        width: 1280px;
    }

    .popup-video__video-img {
        height: 653px;
    }

    .popup-video__icon-btn {
        top: 45px;
        right: 50px;
    }

    .popup-video__play-button {
        top: 50%;
    }
}