.section-records {
    background: linear-gradient(@gray 55%, @white 45%);

    padding: 65px 15px 0;
    margin-top: 78px;

    position: relative;
    z-index: 3;
}

.section-records__container {
    .container ();
}

.section-records__decor {
    position: absolute;
    top: 91px;
    left: 44px;

    z-index: -3;
}

.section-records__form {
    margin-top: 25px;
}

.section-records__input {
    .form-text ();
    .style-input-text ();

    width: 332px;
    height: 51px;

    margin-bottom: 16px;

    color: @light-black;

    display: block;

    padding-left: 20px;
}


.section-records__title {
    margin: 0;

    line-height: 31px;

    font-family: @main-font;
    font-weight: 500;
    font-size: 25px;
}

.section-records__subtitle {
    font-family: @main-font;
    font-weight: 400;
    font-size: 14px;

    margin: 0;

    line-height: 39px;
}

.section-records__btn {
    .btn ();

    width: 332px;

    font-family: @main-font;
    font-weight: 500;
    font-size: 15px;

    line-height: 120%;

    color: @white-darker;
    background-color: @green;

    margin-top: 22px;
    padding: 18px 0 22px;

    &:hover {
        background-color: @green-darker;
    }
}

.section-records__specialist-card {
    position: relative;

    margin-top: 60px;
}

.section-records__wrapper-card {
    position: absolute;
    bottom: 115px;
    left: -17px;
}

.section-records__human {
    .img ();
}

.section-records__specialists {
    width: 219px;
    height: 81px;

    background-color: @light-transparent-black;
    
    padding: 14px 5px 6px 18px;
}

.section-records__name {
    font-family: @main-font;
    font-weight: 500;
    font-size: 16px;

    line-height: 123%;

    margin-top: 0;
    margin-bottom: 5px;

    color: @white;
    
}

.section-records__about-specialist {
    font-family: @main-font;
    font-weight: 400;
    font-size: 12px;

    line-height: 140%;

    margin: 0;

    color: @white;
}

.section-records__checkbox {
    padding-top: 15px;
    padding-left: 26px;
}

.section-records__checkbox-lable {
    &::before {
        content: '';
        width: 20px;
        height: 20px;
    }
    
    &::after {
        content: '';
        width: 20px;
        height: 20px;      
    }
}

@media (min-width: @tablet-width) {
    .section-records__flex {
        display: flex;
        gap: 20px;
    }

    .section-records {
        margin-top: 80px;
        padding-top: 30px;

        background: @gray;
    }

    .section-records__decor {
        top: 91px;
        left: 187px;

        width: 423px;
        height: 436px;
    }

    .section-records__wrapper-request {
        padding-top: 75px;

        width: 434px;
    }

    .section-records__title {
        font-size: 32px;

        line-height: 43px;
    }

    .section-records__subtitle {
        margin-bottom: 38px;
    }

    .section-records__wrapper-text {
        font-size: 16px;
    }
    

    .section-records__input {
        width: 434px;
    }
    
    .section-records__btn {
        width: 434px;

        margin-top: 33px;
    }

    .section-records__checkbox {
        padding-top: 20px;
        padding-left: 65px;
    }

    .section-records__checkbox-lable {
        margin: 0;
        padding-left: 12px;
        padding-top: 5px;
    }

    .section-records__wrapper-card {
        bottom: 165px;

        left: 0;
    }

    .section-records__human {
        width: 434px;
        height: 714px;

        margin-top: -126px;
    }

    .section-records__specialists {
        width: 301px;
        height: 97px;
    }

    .section-records__name {
        font-size: 25px;
    }

    .section-records__about-specialist {
        font-size: 12px;
    }
}

@media (min-width: @desktop-width) {
    .section-records {
        height: 636px;
        
        margin-top: 146px;
    }

    .section-records__decor {
        top: 197px;
        left: 520px;

        width: 415px;
        height: 423px;
    }

    .section-records__flex {
        justify-content: space-between;
    }

    .section-records__wrapper-request {
        padding-top: 65px;
        padding-left: 20px;

        width: 601px;
    }

    .section-records__title {
        font-size: 44px;

        line-height: 54px;
    }

    .section-records__subtitle {
        font-size: 16px;

        margin: 0;
    }

    .section-records__specialist-card {
        width: 628px;
    }

    .section-records__wrapper-card {
        bottom: 195px;
        left: 6px;
    }

    .section-records__human {
        width: 625px;
        height: 778px;

        margin-top: -157px;
        margin-left: 6px;
    }

    .section-records__checkbox {
        padding-left: 19px;
    }
    
    .section-records__checkbox-form {
        margin: 0;
    }
}
